In [1]:
import pandas as pd

## Paso 1: Planteamiento del problema

Queremos saber cuál va a ser la prima (coste) que debe asumir cada uno de los clientes.

## Paso 2: Exploración y limpieza de datos

In [5]:
archivo = "../data/raw/medical_insurance_cost.csv"
df = pd.read_csv(archivo)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Paso 3: Análisis Descriptivo

`age`.(numérico) Edad del beneficiario principal   
`sex`.(categórico) Género del beneficiario principal   
`bmi`.(numérico) índice de masa corporal   
`children`.(numérico) Número de niños/dependientes cubiertos por un seguro médico   
`smoker`.(categórico) ¿Es fumador?   
`region`.(categórico) Área residencial del beneficiario en USA: noreste, sureste, suroeste, noroeste   
`charges`.(numérico) Prima del seguro médico

In [6]:
df.shape

(1338, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1338.0,39.207025,14.049960,18.0000,27.00000,39.000,51.000000,64.00000
bmi,1338.0,30.663397,6.098187,15.9600,26.29625,30.400,34.693750,53.13000
children,1338.0,1.094918,1.205493,0.0000,0.00000,1.000,2.000000,5.00000
charges,1338.0,13270.422265,12110.011237,1121.8739,4740.28715,9382.033,16639.912515,63770.42801

## Paso 4: Limpieza de Datos

### Limpieza de datos: Eliminar duplicados

In [9]:
df.duplicated().sum()

np.int64(1)

In [10]:
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
df.duplicated().sum()

np.int64(0)

### Limpieza de datos: Eliminar información irrelevante

## Paso 5: Análisis de Variables

### Codificamos variable categórica con factorize si se necesitan.

In [30]:
categorical_variables = df.select_dtypes(include=['object']).columns.tolist()
df_copy = df.copy()
rules = {}

for var in categorical_variables:
    codes, uniques = pd.factorize(df[var])
    df_copy[var] = codes  
    rules[var] = {bat: code for code, bat in enumerate(uniques)}
rules

{'sex': {'female': 0, 'male': 1},
 'smoker': {'yes': 0, 'no': 1},
 'region': {'southwest': 0, 'southeast': 1, 'northwest': 2, 'northeast': 3}}

### Análisis de Variables Univariante Categóricas

### Análisis de Variables Univariante Numéricas

### Análisis numérico-numérico

Usaremos y revisaremos las correlaciones.

### Análisis categórico-categórico

## Paso 6: Ingeniería de características

### Análisis de outliers

### Análisis de valores faltantes

### Inferencia de nuevas características

## Paso 7: Split (dos métodos o enfoques)

## Paso 8: Scaling & Encoding

### Normalización o Escalado Mínimo-Máximo

### Encoding - Codificación de variables categóricas

### Guardando los scalers & encoders